.footer-copyright
  = link_to 'http://animalfamily.tv/', target: '_blank', rel: 'noopener', class: 'logo' do
    = image_tag_base64 'logo/logo-v-mire-animals.png'
  p.footer-copyright__text.text-sm © 2019 Телекомпания ЗАО «Первый ТВЧ».<br>Все права защищены.
