$color1: #78b730;
$color2: #f90e01;
$color3: #ffc21d;
$color4: #4cb911;
$color5: #153e35;
$color6: #fc6704;
$colorIconSocial: #fff;
$bcColorBody: $color1;
$bcColor1: $color1;
$bcColor3: $color3;

$color-btn: #be32e6;
$color-text: #37444c;
$color-yellow: #F9C733;